Thegate/wsdl/service2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.cleverbuilder.com/Service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service"
	targetNamespace="http://www.cleverbuilder.com/Service/">
	<wsdl:documentation>Definition for a web service called Service,
		which can be used to add or retrieve books from a collection.
	</wsdl:documentation>
	
	<!-- 
		The `types` element defines the data types (XML elements)
		that are used by the web service.
	 -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.cleverbuilder.com/Service/">
			<xsd:element name="GetNameRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Account" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetNameResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Account" type="xsd:string"></xsd:element>
						<xsd:element name="Name" type="xsd:string"></xsd:element>
						<xsd:element name="Alamat" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	
	<!-- 
		A wsdl `message` element is used to define a message
		exchanged between a web service, consisting of zero
		or more `part`s.
	 -->
	
	<wsdl:message name="GetNameRequest">
		<wsdl:part element="tns:GetNameRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetNameResponse">
		<wsdl:part element="tns:GetNameResponse" name="parameters" />
	</wsdl:message>

	<!-- 
		A WSDL `portType` is used to combine multiple `message`s 
		(e.g. input, output) into a single operation.
		
		Here we define three synchronous (input/output) operations
		and the `message`s that must be used for each.
	 -->
	<wsdl:portType name="GetNameServicePort">
		<wsdl:operation name="GetNameService">
			<wsdl:input message="tns:GetNameRequest" />
			<wsdl:output message="tns:GetNameResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- 
		The `binding` element defines exactly how each
		`operation` will take place over the network.
		In this case, we are using SOAP.
	 -->
	<wsdl:binding name="GetNameServiceBinding" type="tns:GetNameServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetNameService">
			<soap:operation soapAction="http://www.cleverbuilder.com/Service/GetName" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- 
		The `service` element finally says where the service
		can be accessed from - in other words, its endpoint.
	 -->
	<wsdl:service name="GetNameService">
		<wsdl:port binding="tns:GetNameServicePort" name="GetNameServiceBinding">
			<soap:address location="http://localhost:8001/soap2/wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>