Thegate/wsdl/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
      <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
         <s:element name="GetNameRequest">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GetNameResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
                  <s:element minOccurs="1" maxOccurs="1" name="nama" type="s:string" />
                  <s:element minOccurs="1" maxOccurs="1" name="alamat" type="s:string" />
               </s:sequence>
            </s:complexType>
         </s:element>
      </s:schema>
   </wsdl:types>

   <!-- MESSAGES: defines the data being exchanged between the service and client -->
   <wsdl:message name="GetNameSoapIn">
      <wsdl:part name="parameters" element="tns:GetNameRequest" />
   </wsdl:message>
   <wsdl:message name="GetNameSoapOut">
      <wsdl:part name="parameters" element="tns:GetNameResponse" />
   </wsdl:message>

   <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
   <wsdl:portType name="GetNameSoapPort">
      <!-- The operation name must be the same as the one specified in the service object -->
      <wsdl:operation name="GetName">
         <wsdl:input message="tns:GetNameSoapIn" />
         <wsdl:output message="tns:GetNameSoapOut" />
      </wsdl:operation>
   </wsdl:portType>

   <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
   <wsdl:binding name="GetNameServiceSoapBinding" type="tns:GetNameSoapPort">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="GetName">
         <soap:operation soapAction="GetName" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <!-- SERVICE:  -->
   <wsdl:service name="GetNameService">
      <wsdl:port name="GetNameServiceSoapPort" binding="tns:GetNameServiceSoapBinding">
         <soap:address location="http://localhost:8001/soap/wsdl" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>